<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="InventorySystem.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="InventorySystem.My.MySettings.ConnStr" connectionString="Data Source=localhost;Initial Catalog=Inventory;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="InventorySystem.My.MySettings.NothWindConnStr" connectionString="Data Source=localhost;Initial Catalog=Northwind;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="NorthwindEntities" connectionString="metadata=res://*/ModelNorthWind.csdl|res://*/ModelNorthWind.ssdl|res://*/ModelNorthWind.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Northwind;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="InventorySystem.My.MySettings.TraineeConnStr" connectionString="Data Source=localhost;Initial Catalog=Training;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <InventorySystem.My.MySettings>
      <setting name="ProductName" serializeAs="String">
        <value>Orovia Inventory System</value>
      </setting>
      <setting name="ErrorMessageColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="SuccessMessageColor" serializeAs="String">
        <value>0, 192, 0</value>
      </setting>
    </InventorySystem.My.MySettings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>